# Importing the libraries and dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import chardet

In [3]:
with open("/content/Bondora_raw.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(10000))
print(result)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [4]:
path = "/content/Bondora_raw.csv"
dataset = pd.read_csv(path, error_bad_lines=False ,engine="python",encoding="utf-8")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
Skipping line 20898: ',' expected after '"'

In [5]:
dataset.head()

,ReportAsOfEOD,LoanId,LoanNumber,ListedOnUTC,BiddingStartedOn,BidsPortfolioManager,BidsApi,BidsManual,UserName,NewCreditCustomer,...,PreviousEarlyRepaymentsCountBeforeLoan,GracePeriodStart,GracePeriodEnd,NextPaymentDate,NextPaymentNr,NrOfScheduledPayments,ReScheduledOn,PrincipalDebtServicingCost,InterestAndPenaltyDebtServicingCost,ActiveLateLastPaymentCategory
0,2020-01-27,F0660C80-83F3-4A97-8DA0-9C250112D6EC,659,2009-06-11 16:40:39,2009-06-11 16:40:39,0,0,115.0410,KARU,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
1,2020-01-27,978BB85B-1C69-4D51-8447-9C240104A3A2,654,2009-06-10 15:48:57,2009-06-10 15:48:57,0,0,140.6057,koort681,False,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
2,2020-01-27,EA44027E-7FA7-4BB2-846D-9C1F013C8A22,641,2009-06-05 19:12:29,2009-06-05 19:12:29,0,0,319.5580,0ie,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,180+
3,2020-01-27,CE67AD25-2951-4BEE-96BD-9C2700C61EF4,668,2009-06-13 12:01:20,2009-06-13 12:01:20,0,0,57.5205,Alyona,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
4,2020-01-27,9408BF8C-B159-4D6A-9D61-9C2400A986E3,652,2009-06-10 10:17:13,2009-06-10 10:17:13,0,0,319.5582,Kai,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,180+

# Data Exploration

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134528 entries, 0 to 134527
Columns: 112 entries, ReportAsOfEOD to ActiveLateLastPaymentCategory
dtypes: bool(3), float64(56), int64(14), object(39)
memory usage: 112.3+ MB

In [7]:
dataset.shape

(134528, 112)

In [8]:
dataset.select_dtypes(include='object').columns

Index(['ReportAsOfEOD', 'LoanId', 'ListedOnUTC', 'BiddingStartedOn',
       'UserName', 'LoanApplicationStartedDate', 'LoanDate', 'ContractEndDate',
       'FirstPaymentDate', 'MaturityDate_Original', 'MaturityDate_Last',
       'DateOfBirth', 'Country', 'County', 'City', 'NrOfDependants',
       'EmploymentDurationCurrentEmployer', 'EmploymentPosition',
       'WorkExperience', 'LastPaymentOn', 'DebtOccuredOn',
       'DebtOccuredOnForSecondary', 'DefaultDate', 'StageActiveSince',
       'Rating', 'Rating_V0', 'Rating_V1', 'Rating_V2', 'Status',
       'ActiveLateCategory', 'WorseLateCategory', 'CreditScoreEsMicroL',
       'CreditScoreEsEquifaxRisk', 'CreditScoreFiAsiakasTietoRiskGrade',
       'GracePeriodStart', 'GracePeriodEnd', 'NextPaymentDate',
       'ReScheduledOn', 'ActiveLateLastPaymentCategory'],
      dtype='object')

In [9]:
dataset.select_dtypes(include=['float64','int64']).columns

Index(['LoanNumber', 'BidsPortfolioManager', 'BidsApi', 'BidsManual',
       'ApplicationSignedHour', 'ApplicationSignedWeekday', 'VerificationType',
       'LanguageCode', 'Age', 'Gender', 'AppliedAmount', 'Amount', 'Interest',
       'LoanDuration', 'MonthlyPayment', 'UseOfLoan', 'Education',
       'MaritalStatus', 'EmploymentStatus', 'OccupationArea',
       'HomeOwnershipType', 'IncomeFromPrincipalEmployer', 'IncomeFromPension',
       'IncomeFromFamilyAllowance', 'IncomeFromSocialWelfare',
       'IncomeFromLeavePay', 'IncomeFromChildSupport', 'IncomeOther',
       'IncomeTotal', 'ExistingLiabilities', 'LiabilitiesTotal',
       'RefinanceLiabilities', 'DebtToIncome', 'FreeCash', 'MonthlyPaymentDay',
       'PlannedPrincipalTillDate', 'PlannedInterestTillDate',
       'CurrentDebtDaysPrimary', 'CurrentDebtDaysSecondary', 'ExpectedLoss',
       'LossGivenDefault', 'ExpectedReturn', 'ProbabilityOfDefault',
       'PrincipalOverdueBySchedule', 'PlannedPrincipalPostDefault',
       'PlannedInterestPostDefault', 'EAD1', 'EAD2', 'PrincipalRecovery',
       'InterestRecovery', 'RecoveryStage', 'ModelVersion', 'EL_V0', 'EL_V1',
       'CreditScoreEeMini', 'PrincipalPaymentsMade',
       'InterestAndPenaltyPaymentsMade', 'PrincipalWriteOffs',
       'InterestAndPenaltyWriteOffs', 'PrincipalBalance',
       'InterestAndPenaltyBalance', 'NoOfPreviousLoansBeforeLoan',
       'AmountOfPreviousLoansBeforeLoan', 'PreviousRepaymentsBeforeLoan',
       'PreviousEarlyRepaymentsBefoleLoan',
       'PreviousEarlyRepaymentsCountBeforeLoan', 'NextPaymentNr',
       'NrOfScheduledPayments', 'PrincipalDebtServicingCost',
       'InterestAndPenaltyDebtServicingCost'],
      dtype='object')

In [10]:
dataset.select_dtypes(include='bool').columns

Index(['NewCreditCustomer', 'ActiveScheduleFirstPaymentReached',
       'Restructured'],
      dtype='object')

#  Data Cleaning

## Dealing with missing values

In [11]:
# checking if any values is NAN or missing in dataframe 
dataset.isnull().values.any()

True

In [12]:
dataset.isnull().values.sum()

3672602

In [13]:
# get where missing values exactly from name of columns
cols_missing_values = dataset.columns[dataset.isnull().any()]
cols_missing_values

Index(['ContractEndDate', 'VerificationType', 'Gender', 'MonthlyPayment',
       'County', 'City', 'Education', 'MaritalStatus', 'NrOfDependants',
       'EmploymentStatus', 'EmploymentDurationCurrentEmployer',
       'EmploymentPosition', 'WorkExperience', 'OccupationArea',
       'HomeOwnershipType', 'DebtToIncome', 'FreeCash',
       'PlannedPrincipalTillDate', 'PlannedInterestTillDate', 'LastPaymentOn',
       'CurrentDebtDaysPrimary', 'DebtOccuredOn', 'CurrentDebtDaysSecondary',
       'DebtOccuredOnForSecondary', 'ExpectedLoss', 'LossGivenDefault',
       'ExpectedReturn', 'ProbabilityOfDefault', 'DefaultDate',
       'PrincipalOverdueBySchedule', 'PlannedPrincipalPostDefault',
       'PlannedInterestPostDefault', 'EAD1', 'EAD2', 'PrincipalRecovery',
       'InterestRecovery', 'RecoveryStage', 'StageActiveSince', 'ModelVersion',
       'Rating', 'EL_V0', 'Rating_V0', 'EL_V1', 'Rating_V1', 'Rating_V2',
       'ActiveLateCategory', 'WorseLateCategory', 'CreditScoreEsMicroL',
       'CreditScoreEsEquifaxRisk', 'CreditScoreFiAsiakasTietoRiskGrade',
       'CreditScoreEeMini', 'PrincipalWriteOffs',
       'InterestAndPenaltyWriteOffs', 'PreviousRepaymentsBeforeLoan',
       'PreviousEarlyRepaymentsBefoleLoan', 'GracePeriodStart',
       'GracePeriodEnd', 'NextPaymentDate', 'NextPaymentNr',
       'NrOfScheduledPayments', 'ReScheduledOn', 'PrincipalDebtServicingCost',
       'InterestAndPenaltyDebtServicingCost', 'ActiveLateLastPaymentCategory'],
      dtype='object')

In [14]:
cols_missing_values = pd.DataFrame(cols_missing_values)
cols_missing_values

                                      0
0                       ContractEndDate
1                      VerificationType
2                                Gender
3                        MonthlyPayment
4                                County
..                                  ...
59                NrOfScheduledPayments
60                        ReScheduledOn
61           PrincipalDebtServicingCost
62  InterestAndPenaltyDebtServicingCost
63        ActiveLateLastPaymentCategory

[64 rows x 1 columns]

In [15]:
cols_missing_values.select_dtypes(include='object').columns

Int64Index([0], dtype='int64')

In [16]:
len(cols_missing_values.select_dtypes(include=['float64','int64']).columns)

0